<div class="font bg-no-repeat bg-cover bg-center flex h-[89vh] mt-[1px] w-full flex-col text-slate-800 items-center brightness-95">
  <h1 class="block text-2xl text-center w-[50vw] self-center md:text-5xl text-red-700 font-extrabold bg-white/65 h-fit p-3 rounded-sm uppercase brightness-100">Page introuvable</h1>
  <p class="w-[50vw] h-fit bg-white/60 text-xl font-bold rounded-b-xl brightness-100">
    <span class="block text-center my-4">Cette page n'existe pas ou a été deplacer!</span>
    <strong>Rappel:</strong> Tous les chemin ne menent pas à Rome. Pensez donc à choisir le bon chemin. <br>
    <span class="text-red-700">Perdu ?</span>
    <a class="mt-1 w-full justify-around will-change-auto flex bg-blue-600 px-5 py-2 ring-1 hover:animate-none ring-blue-700 hover:ring-blue-800 hover:bg-blue-800 hover:tracking-wider shadow-md shadow-white  rounded-b-xl" routerLink="/" routerLinkActive="text-white font-extrabold">
      <span>clicker ici</span>
    </a>
  </p>
</div>
